<div class="flex-none mr-5">
    <ul class="menu bg-base-200 rounded-box py-25 " data-theme="dark">
        <li class="mb-2 mask mask-squircle <%= (title == 'Dashboard')? 'active' :'' %> ">
            <a class="tooltip tooltip-right " data-tip="Home" href="/dashboard">
                <i class="h-5 w-5" data-lucide="layout-dashboard"></i>
            </a>
        </li>
        <li class="mb-2 mask mask-squircle <%= (title == 'Activities')? 'active' :'' %>">
            <a class="tooltip tooltip-right" data-tip="Activities" href="/activities">
                <i class="h-5 w-5" data-lucide="chart-column"></i>
            </a>
        </li>
        <li class="mb-2 mask mask-squircle <%= (title == 'Namelist')? 'active' :'' %>">
            <a class="tooltip tooltip-right" data-tip="Namelist" href="/namelist">
                <i class="h-5 w-5" data-lucide="book-user"></i>
            </a>
        </li>

    </ul>
</div>